
.card-bodyevents{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.card{
    border-radius: 4px;
    background: #000000;
    box-shadow: 0 16px 20px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    /* transition: cubic-bezier(8, 8, 8, 8); */
    transition: .3s transform cubic-bezier(8,8,8,8),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#card2021{
    margin-bottom: 16rem;
}

#card2019{
    margin-bottom: 4rem;
}

#card2016{
    margin-bottom: 13rem;
}

.section-heading {
    margin: 25px;
    font-size: 32px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition:transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
    display: inline-block;
    padding: 4px 32px;
}

.section-heading:hover {
    /* padding: 4px 48px; */
    background: turquoise;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.img-2020{
    width: 315px;
}

.allevents{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
}

.years{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
}

.elements{
   padding-left: 40px;
   padding-right: 20px;
}

.img{
    width: 100%;
}