:root{
    --bg-black:#000;
    --text-accent: rgb(231, 219, 183);
    --text-dark-accent:#13181c;
    --bg-accent:turquoise;
    --transition: 0.1s ease;
    --nav-margin:80px;

}
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background: floralwhite;
    font-size: 18px;
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
}
.curr-team-card{
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
}
.team-head{
    display: grid;
    place-items: center;
    gap: 5rem;
    padding-left:8rem;padding-right:8rem;
    grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
}
.team{
    display: grid;
    place-items: center;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
}
.card-bg{
    position: relative;
    color:var(--text-accent);
    background: var(--bg-black);
    padding: 6rem 0 0;
    width: 19rem;
    height: 21rem;
    border-radius: 0.5rem;
    overflow: hidden;
    align-content: center;
    box-shadow: 0rem .5rem 5rem 0rem var(--bg-black);

    min-width:3rem;
    
    transition: transform 0.1s;
}
.card-bg:focus-within,
.card-bg:hover{
   transform: scale(1.05);
}

.card-content {
    --padding: 1rem;
    position: absolute;
    align-content: center;
    width: 19rem;
    bottom: 0;
    padding:var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(255 0% 0% / 0.5) 25%,
        hsl(255 0% 0% / 0.8)
    );

    transform: translateY(5rem);
    transition: transform var(--transition);
}
.card-bg:focus-within .card-content
{
    transition-duration: 0ms;
}
.card-bg:focus-within .card-content,
.card-bg:hover .card-content{
    transform: translateY(1rem);
    transition-delay: 0.2s;
} 

.card-head{
    font-size: 1.3rem;
    width: max-content;
    position: relative;
    
}

.card-head::after{
    content:"";
    position: absolute;
    left: calc(var(--padding)*-1);
    bottom: 0;
    z-index: -1;
    height: 3px;
    width: calc(var(--padding) + 100%);
    background: var(--bg-accent);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--transition);
}

.card-bg:hover .card-head::after,
.card-bg:focus-within .card-head::after{
    transform: scaleX(1);
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-redirect{
    
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    background:var(--bg-accent);
    color: #13181c;
    width: fit-content;
    height: fit-content;
    gap: 4px;
    padding: 0.6rem 0.5rem;
    border-radius: 0.25rem;

}

.card-redirect:hover,
.card-redirect:focus{
    background-color: var(--text-accent);
    color: #13181c;
}

/* Carousel */
.carousel {
    height: 100vh;
}

.carousel-img {
    height: 100vh;
    object-fit: cover;
}

/* Former team page css */
.former-team-grid{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(12.5cm,1fr));  */
    gap: 5rem;
    align-items: center; 
    justify-items: center;
}
.team-2020{
    background: url(assets/2020.png); 
    background-size: cover;
    width: 13.07cm;
    height: 18.50cm; 
    position: relative;
}
.circle,
.square{
    stroke:#45abff;
    opacity: 0;
    transition: 0.2s;
}
.team-2019{
    background: url(assets/2019.png);
    background-size: cover;

    width: 13.07cm;
    height: 18.50cm; 
    position: relative;
}
.team-2020:hover .square,
.team-2019:hover .circle{
    opacity: 1;
}
.team-2018{
    background: url(assets/2018.png); 
    background-position: center;
    background-size: cover;
    width: 13.07cm;
    height: 9.7cm;
    position: relative;
}
.team-2017{
    background: url(assets/2017.png); 
    background-position: center;
    background-size:cover;
    width: 13.07cm;
    height: 9.82cm;
    position: relative;
}
/* Nav Bat css */
header{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: aliceblue;
    box-shadow: #13181c;
    position: fixed; width: 100%;
    z-index:99 ;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-shadow: 1px 2px 5px #000;
    
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.nav-content>a{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: var(--text-dark-accent);
    transition: ease-in-out 250ms;
}
.nav-content>a::before{
    position: absolute;
    content:'';
    display: block;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--text-dark-accent);
    transition: ease-in-out 250ms;
}
.nav-content>a:hover{
    opacity: 0.7;
}

.nav-content>a:hover::before{
    width: 100%;
}

.nav-unscrolled .nav-main{
    margin:30px var(--nav-margin);
    transition: 250ms ease-out;
}
.nav-unscrolled .nav-img{
    width: 80px;height: 80px;
    transition: 250ms ease-out;
}

.nav-scrolled{
    background-color: var(--bg-accent);
    box-shadow: 0px 0px 5px 0;
}

.nav-scrolled .nav-main{
    margin: 5px 40px;
    transition: 250ms ease-out;
}
.nav-scrolled .nav-img{
    width: 60px; height: 60px;
    transition: 250ms ease-out;
}
/* Media queries for different screens */

@media screen and (min-width: 1370px){
    .team{
        grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    }
    .former-team-grid{
        grid-template-columns: repeat(auto-fit, minmax(16.5cm,1fr));
    }
}
@media screen and (max-width: 1000px){
    header{
        font-size: 16px;
    }
    .nav-main{
        margin: 0 5px;
    }  
    .nav-content{
    
        column-gap: 5px;
    }  
    .team-head{
        padding-left:0;padding-right:0;
    }
    .team-2019 .circle,
    .team-2020 .square{
        stroke:#45abff;
    }
}
@media screen and (max-width: 500px){
    .team-2020{width: 320px; height: 10cm;}
    .team-2019{width: 320px; height: 10cm;}
    .team-2018{width: 320px; height: 10cm;}
    .team-2017{width: 320px; height: 10cm;}
    
    header{
        font-size: 12px;
    }
    .nav-content{
        align-items: center;
        justify-content: center;
    }
    .nav-content::before{
        height: 2rem;
        content: '';
        width: 2px;
        background-color:#000;
    }
    .nav-unscrolled .nav-main{
        margin: 10px;
    }  
    .nav-scrolled .nav-main{
        margin: 10px;
    }  

}