:root{
    --bg-dark-accent:rgb(23,29,75);
    --body-accent: #dbf5fa;
    --text-dark-accent:#13181c;
    --bg-accent:#EEFCFF;
    --text-accent:rgb(46, 211, 198);
    --transition: 0.3s ease;
    --nav-margin:80px;

}
*::before,
*::after{
    box-sizing: border-box;
}

body{
    /* background: var(--body-accent); */
    /* background-color: #e2e2eb; */
    /* url(bg.jpeg) ;
    background-blend-mode: overlay ;
    background-repeat: repeat;
    background-size: contain; */
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    font-size: 20px;
    line-height: 1;
    /* font-family: 'DM Mono', monospace; */
    margin: 0;
    padding: 0;
}
span{
    display: block;
}
span.active{
    transform: translateY(0);
    transition: .5s ease-in;
}
/* Scrollbar CSS */
body::-webkit-scrollbar{
    width: .5vw;
    /* padding-right: 5px; */
}
body::-webkit-scrollbar-track{
    background-color: transparent;

}
body::-webkit-scrollbar-thumb{
    background-color: var(--bg-dark-accent);
    border-radius: 1rem;
}

/* Current Team CSS */
.curr-team-card{
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
}
.team-head{
    display: grid;
    place-items: center;
    gap: 5rem;
    padding-left:8rem;padding-right:8rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem,1fr));
}
.team{
    display: grid;
    place-items: center;
    gap: 5rem;
    column-gap: 50px;
    margin: 0 3rem;
    grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
}
.card-bg{
    position: relative;
    color:var(--bg-accent);
    width: 19rem;
    height: 21rem;
    border-radius: 0.5rem;
    overflow: hidden;
    align-content: center;
    box-shadow: 0rem 10px 50px 0rem #13181caa;
   
    transition: transform 0.1s;
}
.card-bg:focus-within,
.card-bg:hover{
   transform: scale(1.05);
}

.card-content {
    --padding: 1rem;
    position: absolute;
    align-content: center;
    width: 19rem;
    bottom: 0;
    padding:var(--padding);
    padding-bottom: 0;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(255 0% 0% / 0.5) 25%,
        hsl(255 0% 0% / 0.8)
    );

    transform: translateY(3.5rem);
    transition: transform var(--transition);
}
.card-bg:focus-within .card-content
{
    transition-duration: 0ms;
}
.card-bg:focus-within .card-content,
.card-bg:hover .card-content{
    transform: translateY(0);
    transition-delay: 0.2s;
} 

.card-head{
    font-size: 1.3rem;
    width: max-content;
    position: relative;
    
}

.card-head::after{
    content:"";
    position: absolute;
    left: calc(var(--padding)*-1);
    bottom: 0;
    z-index: -1;
    height: 3px;
    width: calc(var(--padding) + 100%);
    background: #A2C6CF;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--transition);
}

.card-bg:hover .card-head::after,
.card-bg:focus-within .card-head::after{
    transform: scaleX(1);
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.card-body>p{
    font-size: 1.4rem;
}

.card-redirect{
    
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    background:#add2eb;
    color: var(--text-dark-accent);
    width: fit-content;
    height: fit-content;
    gap: 4px;
    padding: 0.6rem 0.8rem;
    border-radius: 0.25rem;

}

.card-redirect:hover,
.card-redirect:focus{
    background-color:var(--bg-accent);
    color: var(--text-dark-accent);
}

/*Carousel CSS*/
.carimg {
    
    object-fit:cover;
    width: 100%;
    height: 100vh;
}


/* Former Team Page CSS */
.former-team-flex{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-evenly;
}
.former-team-body{
    border: 1px solid rgb(88, 88, 88); 
    border-radius: .8rem;
    overflow: hidden; 
    box-shadow: 0rem 10px 50px 0rem #13181caa;
    /* padding-top: .5rem;  */
    width: fit-content;
}
.team-2020{
    background: url(assets/2020.png); 
    background-size: cover;
    width: 12cm;
    height: 17cm; 
    position: relative;
}
.circle,
.square{
    stroke:#45abff;
    opacity: 0;
    transition: 0.2s;
}
.team-2019{
    background: url(assets/2019.png);
    background-size: cover;

    width: 12cm;
    height: 17cm; 
    position: relative;
}
.team-2020:hover .square,
.team-2019:hover .circle{
    opacity: 1;
}
.team-2018{
    background: url(assets/2018.png); 
    background-position: center;
    background-size: cover;
    width: 12cm;
    height: 8.9cm;
    position: relative;
}
.team-2017{
    background: url(assets/2017.png); 
    background-position: center;
    background-size:cover;
    width: 12cm;
    height: 8.95cm;
    position: relative;
}
/* Nav Bar CSS */
header{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    box-shadow:  2rem var(--bg-dark-accent);
    position: fixed; width: 100%;
    z-index:99 ;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-content{
    display: flex;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.nav-head{
    display: flex; 
    column-gap: 10px;
    align-items: center;
    text-decoration: none;
}
.nav-links>a{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: var(--text-dark-accent);
    transition: ease-in-out 250ms;
}
.hamburger{
    display: none;
    padding: 0;
    border: none;
    background: none;
}
.hamburger>span{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-dark-accent);
}

.nav-links>a::before{
    position: absolute;
    content:'';
    display: block;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: var(--text-dark-accent);
    transition: ease-in-out 250ms;
}
.nav-unscrolled .hamburger>span{
    background-color:var(--bg-dark-accent);
}
.nav-scrolled .hamburger>span{
    background-color:#EEFCFF;
}
.nav-head>p{
    margin-bottom: 0%;
}
.nav-head>p:hover,
.nav-links>p:hover{
    opacity: 0.7;
}
.nav-head>p:focus-within::before,
.nav-links>a:focus-within::before{
    transition: 0ms;
}
.nav-head>p:hover::before,
.nav-links>a:hover::before{
    width: 100%;
}

.nav-unscrolled .nav-head>p,
.nav-unscrolled .nav-links>a{
    color: var(--bg-dark-accent);
    text-decoration: none;
}
.nav-unscrolled .nav-main{
 
    margin:30px var(--nav-margin);
    transition: 250ms ease-out;
}
.nav-unscrolled .nav-img{
    box-shadow: #EEFCFF;
    width: 80px;height: 80px;
    transition: 250ms ease-out;
}

.nav-scrolled{
    background-color: var(--bg-dark-accent);
    box-shadow: 0px 0px 5px 0;
}
.nav-scrolled .nav-head>p,
.nav-scrolled .nav-links>a{
    color: var(--bg-accent);
    text-decoration: none;
}
.nav-scrolled .nav-main{
    
    margin: 5px 40px;
    transition: 250ms ease-out;
}
.nav-scrolled .nav-img{
    width: 60px; height: 60px;
    transition: 250ms ease-out;
}
.nav-scrolled .nav-links>a::before{
    background: var(--bg-accent);
}
/* Media queries for different screens */
@media screen and (max-width: 1000px){
    header{
        font-size: 16px;
    }
    .nav-main{
        margin: 0 5px;
    }  
    .nav-links{
    
        column-gap: 5px;
    }  
    .team-head{
        padding-left:0;padding-right:0;
    }
    .former-team-flex{
        flex-direction: column;
    }
    .team-2019 .circle,
    .team-2020 .square{
        stroke:#45abff;
    }
}
@media screen and (max-width: 600px){
    .former-team-body{width: 315px;}    
    .team-2020{width: 315px; height: 11.87cm;}
    .team-2019{width: 315px; height: 11.87cm;}
    .team-2018{width: 315px; height: 6.07cm;}
    .team-2017{width: 315px; height: 6.27cm;}
    
    header{
        font-size: 12px;
    }
    .nav-links{
        align-items: center;
        justify-content: center;
    }
 
    .nav-unscrolled .nav-main{
        margin: 10px;
    }  
    .nav-scrolled .nav-main{
        margin: 10px;
    }  

}
@media only screen and (max-width: 768px) {
    .nav-links { /* List*/
        position: fixed;
        right: -100%;

        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(221, 221, 221, 0.8);
        width: 100%;
        line-height: .1;
        top: 0;
        padding-top: 4rem;
        height: 100%;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-unscrolled .nav-links>a,
    .nav-scrolled .nav-links>a{
        color:var(--bg-dark-accent);
        margin: 2.5rem 0;
    }

    .nav-links.active {
        right: 0;
        backdrop-filter: blur(5px);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active>span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active>span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active>span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}